.navbar {
  justify-content: space-between;
  padding: 0 40px;
  background-color: #fff;
}
.navbar_heading {
  margin-right: 20px;
  font-size: 32px;
}

.navbar_form {
  width: 450px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 3px;
}
.nabar_search {
  flex: 1;
  height: 100%;
  padding: 0 7px;
  font-size: 20px;
  border: none;
  font-weight: 500;
  outline: none;
}
.search_button {
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  border-color: #6457f9;
  color: #fff;
  cursor: pointer;
}

/* 
.navbar_list {
  float: right !important;
  display: flex;
}

.navbar_list > li {
  position: relative;
  display: block;
  justify-content: space-between;
}

.navbar_list li a {
  font-weight: 70px;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}
.navbar_list_left {
  float: left !important;
  display: flex;
  color: black;
}
.navbar_list_left > li {
  position: relative;
  display: block;
  justify-content: space-between;
}
h2 {
  margin-top: 0;
  margin-bottom: 0; 
}

#search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  width: 200px;
  font-size: 16px;
}

#search-button {
  padding: 8px 16px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#search-button:hover {
  background-color: #0056b3;
} */
