.loading {
  justify-content: center;
  margin-left: 500px;
}
.loader {
  justify-content: center;
  margin: auto;
  top:500px;
  width: 48px;
  padding: 10px;
  height: 48px;
  border: 5px solid #000000;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loaderDiv {
  text-align: center;
  margin-top: 200px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}