.form_page {
  justify-content: center;
}
.authentication_form {
  width: 30%;
  padding: 32px;
  margin-top: 32px;
  background-color: #fff;
}
.authentication_form h2 {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.form_input div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form_inputs label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
.form_text_input {
  height: 35px;
  padding: 0 8px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
}

.form_submit {
  height: 40px !important;
  width: 100%;
  margin: 25px 0 10px;
}

.form_error {
  color: red;
}
.image_label {
  text-align: center;
  margin: auto;
}
input[type="file"]::image-input {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

.file_in1_preview {
  text-align: center;
  margin: auto;
}

label {
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
}
.image-upload {
  position: relative;
  display: inline-block;
}

#fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.upload-button {
  text-align: center;
  margin: auto;
  display: inline-block;
  padding: 8px 20px;
  background-color: #6c5ce7;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.file-name {
  display: inline-block;
  margin-left: 10px;
}

/* Optional: Style the file name display */
.file-name::after {
  content: "\00a0"; /* Add space after file name */
}
